<footer class="main-footer">
    <div class="footer-content">

    <div class="footer-section brand">
        <h3>Car<span>Hub</span></h3>
        <p>La plataforma donde podras conocer el auto de tus sueños</p>
    </div>

    <div class="footer-section about">
        <h4>Quienes Somos</h4>
        <p>Somos un equipo entusiasta que se encarga de que personas como tu y nosotros, posean el auto de sus sueños con la mayor transparencia posible.</p>
    </div>
    
    <div class="footer-section links">
        <h4>Enlaces</h4>
        <ul>
            <li><a href="#acerca">Acerca de</a></li>
            <li><a href="#terminos">Terminos y Condiciones</a></li>
            <li><a href="#privacidad">Privacidad</a></li>
        </ul>
    </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2026, CarHub. Todos los derechos reservados. Desarrollado por LoquendoDEV, y por gente que aprendio a trasnochar por motivos completamente validos, perdon mamá</p>
    </div>
</footer>