<div class="dashboard-wrapper">
    <h1>HOLA MUNDO</h1>
  
  <div class="store-header">

    <div class="brand-container">
      <h2>Car<span style="color: #3b82f6;">Hub</span></h2>
      <p class="subtitle">Bienvenidos a CarHub, donde el auto de tus sueños puede estar a un click de distancia</p>
    </div>

    <div class="user-actions">
      <button class="btn-logout">Cerrar Sesión</button>
    </div>

  </div>

  <div class="store-layout">
    
    <aside class="filters-sidebar">
      <h3>Filtros de Búsqueda</h3>
      
      <div class="filter-group">
        <h4>Marca</h4>
        <div class="checkbox-list">
          <label><input type="checkbox" checked> Toyota</label>
          <label><input type="checkbox" checked> Subaru</label>
          <label><input type="checkbox" checked> Nissan</label>
        </div>
      </div>

      <div class="filter-group">
        <h4>Año</h4>
        <div class="price-inputs">
          <input type="number" placeholder="Min" />
          <span class="separator">-</span>
          <input type="number" placeholder="Max" />
        </div>
      </div>

      <div class="filter-group">
        <h4>Precio</h4>
        <div class="price-inputs">
          <input type="text" placeholder="$2.00" />
          <span class="separator">-</span>
          <input type="text" placeholder="$100.00" />
        </div>
      </div>
    </aside>

    <section class="catalog-section">
      <h3 class="section-title">Catálogo Destacado</h3>
      
      <div class="products-grid">
        
        <div class="product-card">
          <div class="product-img-placeholder">🏎️</div>
          <div class="product-info">
            <h4>Toyota</h4>
            <p class="price">$2.500.000 CLP</p>
            <button class="btn-details">Ver Detalles</button>
          </div>
        </div>

        <div class="product-card">
          <div class="product-img-placeholder">🏎️</div>
          <div class="product-info">
            <h4>Subaru</h4>
            <p class="price">$3.000.000 CLP</p>
            <button class="btn-details">Ver Detalles</button>
          </div>
        </div>

        <div class="product-card">
          <div class="product-img-placeholder">🚙</div>
          <div class="product-info">
            <h4>Nissan</h4>
            <p class="price">$2.750.000 CLP</p>
            <button class="btn-details">Ver Detalles</button>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>

<app-footer-component></app-footer-component> //esto permite que el footer aparezca debajo la seccion anterior.