<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>Car<span>Hub</span></h2>
      <p>Bienvenido de vuelta. Inicia sesión para gestionar tus vehículos.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-group">
        <label for="emailUser">Correo Electrónico</label>
        <input type="email" id="emailUser" formControlName="emailUser" placeholder="ejemplo@carhub.com" />

        @if (loginForm.get('emailUser')?.touched && loginForm.get('emailUser')?.invalid) {
          @if (loginForm.get('emailUser')?.errors?.['emailUser'] || loginForm.get('emailUser')?.errors?.['required']) {
            <small class="error-msg">Ingresa un correo electrónico válido</small>
          }

          @if (loginForm.get('emailUser')?.errors?.['dominioInvalido']) {
            <small class="error-msg">Por favor ingrese un dominio valido (Ej: Gmail, Hotmail, Outlook, etc).</small>
          }
        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="••••••••" />
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <small class="error-msg">La contraseña debe tener al menos 6 caracteres</small>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn-submit">
        Ingresar al Sistema.
      </button>
    </form>

    <button type="button" (click)="ingresoInvitado()" class="btn-guest">
      Continuar como Invitado.
    </button>

    <div class="auth-footer">
      <p>¿No tienes una cuenta aún? <a routerLink="/register">Regístrate aquí y únete</a></p>
    </div>
    
  </div> </div>